@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
  font-family: 'Roboto', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #cafdff;
}

a {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

ul {
  display: flex;  /* The list items inside ul didn't need to be inside of a div to lay out sideways */
}

li {
  list-style-type: none;
  padding-left: 16px;
}

.logo {
  width: 300px;
}

header {
  background-color: #eadcff;
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  max-width: 1300px; /* Here's the trick. We're CAPPING the maximum width. */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about,
#discord,
#contact {
  padding: 48px 0;
}

h1 {
  font-size: 72px;
}

.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}

button {
  background-color: #05c7cf;
  color: white; /* color of the text inside the button */
  border: none;
  padding: 8px 16px;
  font-size: 24px; 
  cursor: pointer; /* cursor: pointer is not a default for a button */
}

/* 
About 
*/

#about {
  background-color: #f8ffdc;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image--wrapper {
  width: 40%; /* image is 40% of the total width of both the text and the figure */
}

img {
  width: 100%;
}

.section__description--wrapper {
  width: 60%; /* text is 60% of the total width of both the text and the figure */
}

.section__description--wrapper, /* targeting two different classes at one time */
.about__image--wrapper {
  padding: 0 24px;
}

.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}

/* 
Discord
 */

#discord {
  background-color: #cefeff;
}

/* 
Contact
 */

#contact {
  background-color: #dce9ff;
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

input, textarea {
  margin-bottom: 24px;
  font-size: 20px; /* font size of the text typed inside the boxes of both types */
  padding: 6px 12px; /* padding around the typed text inside the boxes */
}